.purchasingContainer {
  font-family: "Retro Gaming";
  font-weight: normal;
  background: url(../../assets/images/purchasingbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 38px;
  color: #fff;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px 0;
}
.button {
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
  padding: 12px 25px;
  border: none;
  outline: none;
  clip-path: polygon(
    0 3px,
    3px 3px,
    3px 0,
    calc(100% - 3px) 0,
    calc(100% - 3px) 3px,
    100% 3px,
    100% calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) 100%,
    3px 100%,
    3px calc(100% - 3px),
    0 calc(100% - 3px)
  );
  cursor: pointer;
}
.connectWallet {
  background-color: rgba(0, 162, 236, 1);
}
.claimable {
  background-color: rgba(194, 30, 203, 1);
}
.buyButton {
  background: rgba(246, 201, 41, 1);
  color: #000;
}
.buyEth .buyButton {
  margin-right: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
}
.button:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.pixelatedCorners {
  -webkit-clip-path: polygon(
    0 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 0,
    calc(100% - 8px) 0,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    0 calc(100% - 8px)
  );
  clip-path: polygon(
    0 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 0,
    calc(100% - 8px) 0,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    0 calc(100% - 8px)
  );
}

.usdtCard {
  background-color: rgba(194, 30, 203, 1);
}
.ethCard {
  background-color: rgba(0, 162, 236, 1);
}
.buyEth {
  background: rgba(248, 98, 43, 1);
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 15px;
}
.cardTitle {
  padding: 20px;
  width: 100%;
  font-size: 24px;
  color: #fff;
  padding: 20px 15px;
  background-color: rgba(158, 21, 164, 0.8);
}
.ethCard .cardTitle {
  background: rgba(2, 133, 190, 0.8);
}
.buyEth .cardTitle {
  background: rgba(255, 84, 0, 0.8);
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.buyEth .card {
  padding: 5px;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #fff;
  clip-path: polygon(
    0 3px,
    3px 3px,
    3px 0,
    calc(100% - 3px) 0,
    calc(100% - 3px) 3px,
    100% 3px,
    100% calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) 100%,
    3px 100%,
    3px calc(100% - 3px),
    0 calc(100% - 3px)
  );
  position: relative;
}
.inputWrapper {
  position: relative;
}
.inputWrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 1);
  top: 5px;
  left: 5px;
  z-index: -1;
}
.input {
  border: none;
  outline: none;
  width: 200px;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  padding: 6px 10px;
  background: transparent;
}
.label {
  color: rgba(153, 153, 153, 0.8);
  font-size: 20px;
  padding-right: 10px;
  width: 85px;
}
.value {
  color: #fff;
  font-size: 16px;
}
.value::marker {
  color: #f6c929;
}
.buttonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.textContaner {
  width: 100%;
}
