.heroSectionContaiener {
  background: url("../../assets/images/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
  margin-top: 110px;

  width: 100%;
}
.heroSectionContaiener::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 35, 35, 0.4);

  z-index: -1;
}
.heroSectionWrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.heading {
  font-family: "MuseoModerno", cursive;
  font-size: 38px;
  font-weight: 700;

  color: #ff4040;
}
.text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  color: #fff;
  padding: 15px 0;
}
.strong {
  font-weight: 400;
}
.countText {
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .heroSectionContaiener {
  }
  .heroSection {
    flex-direction: column;
    align-items: center;
  }
}
